body {
    background-color: rgb(241, 241, 241);
    margin: 0;
}

.mainTitle {
    background-image: url(zuragnuud/window\ droplets.jpeg);
    background-size: cover;
    padding: 50px;
    text-align: center;
    margin: 0;
}
nav {
    text-align: center;    
}
nav section {
    background-color: rgba(61, 56, 56, 0.86);
    padding: 10px;
}

nav a {
    padding: 40px;
    color: white;
    text-decoration: none;
}

.homeSection {
    display: flex;
}

.mainPart {
    background-color: rgb(220, 218, 218);
    margin: 10px 60px 30px 60px;
    border-radius: 30px;
    padding: 25px;
}

footer {
    background-color: rgba(61, 56, 56, 0.86);
    color: white;
    text-align: center;
    padding: 50px;
}
img {
    margin-right: 20px;
    border-radius: solid 4px;
    
}


